<link rel="stylesheet" href="./{{name_sc}}.scss">
<script src="./{{name_pc}}.ts"></script>

<div class="{{name_sc}} is-hidden" data-component="{{name_sc}}">
  <div class="overlay" data-overlay></div>
  <div class="popup-panel" data-panel>
    <button class="close-button" data-close-button>
      close
    </button>
    <h1 data-transition-item>Popup</h1>
    <p data-transition-item>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut blanditiis ducimus fuga fugiat natus.
    </p>
  </div>
</div>
